{% extends 'base.html'%}
{%block title%}User Chat{%endblock%}
{%block content%}
{%load static%}

        {% for data in datas %}
      <div class="messages">
            <img src="{{ data.user.profile.image.url }}" alt="{{data.user.username}}">
         <div class='block'>
            <div class="username-date">
            <p class="username">{{data.first_name}}</p>
            <p class="date">{{data.date|date:"M d, Y"}}</p>
           </div>
            <p class="text">{{data.text|safe}}</p>
        </div>
     </div> 
       {%endfor%} 
{%endblock%}

    {%block input%}
    <div class="input">
    {%if request.user.is_authenticated%}
    <form method='POST'>
    {%csrf_token%}
    <input type="text" name="message" placeholder="message">
    </form> 
    {%endif%}
    </div>
    {%endblock%}




{%block users%}
{%include 'qna/create_chat_room.html'%}
{%endblock%}

