
{%load static%}
    <div class="dropdown">
      {% if user.is_authenticated %}
      <ul>
          <span>{{user.username}}</span>
        <div class="dropdown-content">
             <li> <span class="material-icons">exit_to_app</span><a href="{% url 'logout' %}">Logout</a>
             </li>

            <li><span class="material-icons">perm_identity</span><a href="{% url 'profile' %}">Profile</a>
            </li>
        </div>
        </ul>
    </div>
        {% else %}

        <ul>
          <span>Please Login</span>
        <div class="dropdown-content">
             <li> <span class="material-icons">login</span><a href="{% url 'login' %}">Login</a>
             </li>

            <li><span class="material-icons">how_to_reg</span><a href="{% url 'register' %}">Register</a>
            </li>
        </div>
        </ul>
      {% endif %}



 






